<footer>
  <p> {{ getCurrentYear}}</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>






<!--
Nodemon not watch hadlabar file so to watch hbs file
nodemon server.js -e js,hbs
-e  for extension we want to watch
js for server fiels
hbs for hadlarbar files

-->
